
.first-section
{
margin-bottom:-200px;
height:200%;
padding-bottom:350px;
}

@media only screen and (max-width:280px)
{
    
    .first-section
{
    margin-top:-150px;
    padding-bottom:100px;

}


}

